@using HospitalManagement.Models.EntityModels
@model Patient

<div>
    

    Patient: @Model.Name<br />
    
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-route-id="@Model.Id" />
    <input type="submit" class="btn btn-danger" value="Are you sure?" />
</form>