<li class="nav-item ">
    <a href="#" class="nav-link ">
        
        <i class="nav-icon fas fa-file-invoice"></i>
        <p>
            Accounts & Finance
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="./index.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Debit Voucher(Expense)</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index3.html" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Credit Voucher(Income)</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="./index3.html" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Advance Payment</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index3.html" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Installment</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="./index3.html" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Petty Cash</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="./index3.html" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Fund Management</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="./index3.html" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Vendor/Supplier</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="./index3.html" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Accounts Configaration</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="./index3.html" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Salary</p>
            </a>
        </li>
    </ul>
</li>