<li class="nav-item ">
    <a href="#" class="nav-link ">
        
        <i class="nav-icon fas fa-user-md"></i>
        <p>
            Doctors
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="Doctor" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>List of Doctors</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="DoctorDepartment" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Doctor Department</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Treatment History</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Doctors Holiday</p>
            </a>
        </li>
        
    </ul>
</li>