<li class="nav-item ">
    <a href="#" class="nav-link ">
        
        <i class="nav-icon fas fa-pills"></i>
        <p>
            Pharmacy Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="./index.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sales</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Purchase</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index3.html" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Inventory</p>
            </a>
        </li>
    </ul>
</li>