<li class="nav-item ">
    <a href="#" class="nav-link ">

        <i class="nav-icon fas fa-users"></i>
        <p>
            System
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="./index.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Manage Role</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Manage User</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index3.html" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Change Password</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="./index3.html" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>System Log Activity</p>
            </a>
        </li>

    </ul>
</li>
