@using HospitalManagement.Models.ViewModels


@{
    PageHeader ph = new PageHeader() { Title = "Add Doctor" };
}
<partial name="../Shared/Widgets/_PageHeader.cshtml" model="ph" />




<section class="content">

    <!-- Default box -->
    <div class="card">
        <partial name="../Shared/Widgets/_CardHeader.cshtml" />
        <div class="card-body">

            @* <div class="card"> *@

            <!-- /.card-header -->
            <div class="card-body p-0">

                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Add Doctor</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" asp-controller="Doctor" asp-action="Save">
                        <div class="card-body">


                            <div class="form-group row">

                                <label for="DoctorDepartmentId" class="col-sm-2 col-form-label">DoctorDepartment</label>

                                <div class="col-sm-10">
                                    <select class="form-control" name="DoctorDepartmentId">
                                        @foreach (var doctordepartment in Model)
                                        {
                                            <option value="@doctordepartment.Id">@doctordepartment.Name</option>
                                        }
                                    </select>
                                </div>

                            </div>



                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="Name" class="form-control" id="Name" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Degree" class="col-sm-2 col-form-label">Degree</label>
                                <div class="col-sm-10">
                                    <input type="text" name="Degree" class="form-control" id="Degree" placeholder="Degree">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="PassingInstitute" class="col-sm-2 col-form-label">Passing Institute</label>
                                <div class="col-sm-10">
                                    <input type="text" name="PassingInstitute" class="form-control" id="PassingInstitute" placeholder="Passing Institute">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="VisitingHour" class="col-sm-2 col-form-label">Visiting Hour</label>
                                <div class="col-sm-10">
                                    <input type="text" name="VisitingHour" class="form-control" id="VisitingHour" placeholder="Visiting Hour">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="Fee" class="col-sm-2 col-form-label">Fee</label>
                                <div class="col-sm-10">
                                    <input type="text" name="Fee" class="form-control" id="Fee" placeholder="Fee">
                                </div>
                            </div>



                            <div class="form-group row">
                                <label for="ForAppointment" class="col-sm-2 col-form-label">For Appointment No</label>
                                <div class="col-sm-10">
                                    <input type="ContactNo" name="ForAppointment" class="form-control" id="ForAppointment" placeholder="For Appointment No">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="RoomNo" class="col-sm-2 col-form-label">Room No</label>
                                <div class="col-sm-10">
                                    <input type="number" name="RoomNo" class="form-control" id="RoomNo" placeholder="Room No">
                                </div>
                            </div>











                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Sign in</button>
                            <button type="reset" class="btn btn-default float-right">Clear</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>

            </div>
            <!-- /.card-body -->
            @* </div> *@

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>