html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*# Custom CSS */

.login-bg {
    /*background-color: green;*/
    /*background: linear-gradient(rgba(135,80,156,.9), rgba(135,80,156,.9)), url(../img/jony.jpg);*/
    background: url(../img/hm13.jpg); 
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    background-attachment: fixed;
}
    /*.login-bg .login-box,
.login-bg .card {
    background: transparent;
}*/

    .login-bg .login-box {
        background: transparent;
    }

    .login-bg .card {
        background: transparent;
    }